<p class="center-text page-title">Sign up</p>

<%= render "devise/shared/error_messages", resource: resource %>

<div>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :phone do %>
        <%= 'Phone Number'.html_safe + content_tag(:span, '*', class: 'required-field') %>
      <% end %><br />
      <%= f.phone_field :phone, placeholder: '+380000000000', required: true,
                        pattern: '\+\d{12}', title: 'Please enter a phone number in format +38000000000',
                        class: 'info-field' %>
    </div>

    <div class="field">
      <%= f.label :first_name do %>
        <%= 'First Name'.html_safe + content_tag(:span, '*', class: 'required-field') %>
      <% end %><br />
      <%= f.text_field :first_name, placeholder: 'John', required: true, pattern: '[A-Za-z]+',
                        title: 'Please enter only english letters', class: 'info-field' %>
    </div>

    <div class="field">
      <%= f.label :last_name do %>
        <%= 'Last Name'.html_safe + content_tag(:span, '*', class: 'required-field') %>
      <% end %><br />
      <%= f.text_field :last_name, placeholder: 'Doe', required: true, pattern: '[A-Za-z]+',
                        title: 'Please enter only english letters', class: 'info-field' %>
    </div>

    <div class="field">
      <%= f.label :second_name %><br />
      <%= f.text_field :second_name, placeholder: 'Leon', pattern: '[A-Za-z]+',
                        title: 'Please enter only english letters', class: 'info-field' %>
    </div>

    <div class="field">
      <%= f.label :birthday do %>
        <%= 'Birthday'.html_safe + content_tag(:span, '*', class: 'required-field') %>
      <% end %><br />
      <%= f.date_field :birthday, required: true, placeholder: '05.11.2003', class: 'info-field' %>
    </div>

    <div class="field">
      <%= f.label :password do %>
        <%= 'Password'.html_safe + content_tag(:span, '*', class: 'required-field') %>
      <% end %><br />
      <%= f.password_field :password, required: true, placeholder: '123#qweQWE',
                           pattern: '(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*\W).{6,}',
                           title: 'Please enter a password with at least one digit, one lowercase letter, one uppercase
                           letter, one symbol, and a minimum length of 6 characters', class: 'info-field' %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation do %>
        <%= 'Password Confirmation'.html_safe + content_tag(:span, '*', class: 'required-field') %>
      <% end %><br />
      <%= f.password_field :password_confirmation, required: true, placeholder: '123#qweQWE', class: 'info-field' %>
    </div>

    <div class="actions center-text">
      <%= f.submit 'Sign up', class: 'btn btn-primary' %><br />
      <%= link_to "Log in", new_session_path(resource_name), class: 'btn btn-info another-session-button' %>
    </div>
  <% end %>
</div>

<script>
    const passwordField = document.querySelector("#user_password");
    const confirmationField = document.querySelector("#user_password_confirmation");

    confirmationField.addEventListener("input", () => {
        if (passwordField.value !== confirmationField.value) {
            confirmationField.setCustomValidity("Password confirmation does not match.");
        } else {
            confirmationField.setCustomValidity("");
        }
    });
</script>
